.banner{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px 0px 30px 0px;
    width: 100%;
}

.banner_image{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 70%;
    height: 80vh;
}

.image_home{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.banner_text{
    width: 52%;
    height: 40vh;
    background-color: #0000002f;
    position: absolute;
    top: 58vh;
    left: 24%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border-radius: 5px;

}

.banner_text_title{
    background-color: #fff;
    text-align: center;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 70%;
    font-size: 27px;
}
 .title_blue{
    color: #0085FF;
}

.title_icon{
    display: flex;
    align-items: center;
    background: #E8F4FF;
    padding: 8px;
    border-radius: 5px;

}

.banner_text_text{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
    font-weight: 200;
    text-align: center;
}

.text_para{
    font-size: 22px;
    font-weight: 300;
    
}

.banner_text_btn{
    background-color: #0085FF;
    border: none;
    padding: 12px;
    border-radius: 5px;
    cursor: pointer;
    color: #fff;
    font-family: 'Poppins';
}

.home_text{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3vh;
    padding: 30px 0px 30px 0px;
    width: 100%;
    font-size: 20px;
    text-align: center;
}

.home_text_title{
    font-size: 30px;
}

.home_illustration{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 30px 0px 30px 0px;
    width: 100%; 
}

.home_illustration .card{
    width: 22%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2%;
    background-color: #fff;
    padding: 5vh;
    gap: 3vh;
}


.image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
   
}

.image {
    background-color: #0085FF;
    clip-path: circle();
}

.title {
    text-align: center;
}

.des p {
    text-align: center
}

/*responsive*/
/* @media(max-width: 950px){

    .banner_image{
        width: 80%;
        height: 70vh;
    }

    .banner_text{
        width: 60%;
        height: 35vh;
        background-color: #0000002f;
        position: absolute;
        top: 50vh;
        left: 20%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        border-radius: 5px;
    
    }

    .banner_text_title{
        background-color: #fff;
        text-align: center;
        padding: 10px;
        border-radius: 5px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        width: 65%;
    }
    .banner_text_title .title_blue{
        color: #0085FF;
    }
    
    .title_icon{
        display: flex;
        align-items: center;
        background: #E8F4FF;
        padding: 8px;
        border-radius: 5px;
    
    }
    
    .banner_text_text{
        display: flex;
        flex-direction: column;
        align-items: center;
        color: #fff;
        font-weight: 200;
        text-align: center;
    }
    
    .text_para{
        font-size: 22px;
        font-weight: 300;
        
    }

  } */

  @media screen and (min-width: 1400px){

    .banner_image{
        width: 80%;
        height: 70vh;
    }

    .banner_text{
        width: 64%;
        height: 30vh;
        top: 48vh;
        left: 18%;
        font-size: 22px;
    
    }

    .text_para{
        font-size: 32px;
    }

    .banner_text_title{
        width: 80%;
        font-size: 38px;
    }

    

  }
  
  @media screen and (min-width: 767px) and (max-width: 1023px){

    .banner_image{
        width: 80%;
        height: 55vh;
    }

    .banner_text{
        width: 64%;
        height: 30vh;
        top: 35vh;
        left: 18%;
    
    }

    .banner_text_title{
        width: 85%;
    }

    .home_illustration .card{
        width: 28%;
        padding: 2vh;
    }
    

  }

  @media screen and (max-width: 767px){

    .banner_image{
        width: 85%;
        height: 40vh;
    }

    .banner_text{
        width: 70%;
        height: 25vh;
        top: 25vh;
        left: 15%;
    
    }

    .banner_text_title{
        width: 90%;
    }

    .home_illustration{
        flex-direction: column;
    }

    .home_illustration .card{
        width: 50%;
        padding: 3vh;
    }
    
  }

  @media screen and (max-width: 479px){

    .banner_image{
        width: 90%;
        height: 28vh;
    }

    .banner_text{
        width: 86%;
        height: 20vh;
        top: 22vh;
        left: 7%;
    }

    .banner_text_title{
        width: 90%;
        font-size: 18px;
        padding: 3px;
    }

    .banner_text_text{
        display: flex;
        flex-direction: column;
        align-items: center;
        color: #fff;
        font-weight: 200;
        text-align: center;
        font-size: 13px;
       
    }
    
    .text_para{
        font-size: 15px;
        font-weight: 400;
        
    }

    .home_illustration .card{
        width: 70%;
        padding: 3vh;
    }

  }

