


header{
    position:sticky;
    top: 0;
    left: 0; 
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: #fff;
    /* padding: 20px 100px; */
    transition: 0.6s;
    z-index: 999;
}

header.sticky{
    padding: 5px 100px;
    background: #fff;

}

.logo{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.logo img{
    width: 100px;
}

.menu{
    width: 70%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.menu .menu_nav{
    width: 60%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style: none;
}

.nav_link{
    text-decoration: none;
    color: #24262b;
}

.btn_header{
    width: 20%;
    display: flex;
    flex-direction: row;
    justify-content: space-around; 
}

.btn_inscrip{
    background: transparent;
    border: 1px solid #0085FF;
    padding: 12px;
    border-radius: 5px;
    cursor: pointer;
}

.btn_connex{
    background-color: #0085FF;
    border: none;
    padding: 12px;
    
    border-radius: 5px;
    cursor: pointer;
}

.btn_connex .nav_link{
    color: #fff;
}

.hamburger {
    display: none;
}

/*responsive*/
@media(max-width: 950px){
    .btn_header{
        width: 30%;
  }
  }
  @media(max-width: 770px){
    header{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            background-color: #fff;
            padding: 5px 50px;
            transition: 0.6s;
            z-index: 1000;
        }

        .logo img {
            width: 85px;
        }

        .hamburger {
            display: block;
            cursor: pointer;
     }

     .hamburger .line {
        width: 20px;
        height: 2px;
        background-color: #000000;
        margin: 4px 0;
     }
     .menu {
        height: 0px;
        position: absolute;
        top: 80px;
        left: 0;
        right: 0;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 2vh;
        background-color: rgb(255, 255, 255);
        transition: 0.5s cubic-bezier(0.73, 0.11, 0.67, 0.84);
        overflow: hidden; 
     }
     .menu .menu_nav {
        width: 100%;
        display: block;
   /*      width: fit-content; */
        margin: 34px auto 0 auto;
        text-align: center;
        transition: 0.5s;
     /*    opacity: 0; */
     border-bottom: 1px solid #8f8f8fa6;
     }

     .responsive_nav {
       height: 100vh;
        opacity: 1;
        transition: 0.s;
     }

     .nav_item {
        margin-bottom: 20px;
     }

     .btn_header{
        width: 40%;

    }
  }
  
